
<div class="text-center">
    <div class="text-danger">Access Denied</div>
    <h6 class="text-danger">you do not have permission to view this resource</h6>
    <img src="~/images/noaccess.jpg" style="height:300px; width:300px">
</div>